section {
    height: 100%;
}

.login-page .form-holder {
    width: 50%;
}

.login-page .container {
    justify-content: center;
}

.login-page .form-holder .form {
    padding: 4rem;
}

/*.login-page .form-holder .form .content {*/
    /*max-width: 100%;*/
/*}*/

.login-page .form-holder .form form {
    max-width: 100%;
}

.btn-full-width {
    width: 100%;
    height: 3rem;
}

.h-center {
    text-align: center;
    margin-bottom: 2.5rem;
}

.c-gray {
    color: #606060;
}

nav.side-navbar ul {
    padding: 0;
}

.nav-item form {
    margin-bottom: 0;
}

.__hidden {
    display: none;
}