section {
    height: 100%;
}

.table th {
    border-top: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(238,245,249, 0.5);
}

.login-page .form-holder {
    width: 50%;
}

.login-page .container {
    justify-content: center;
}

.login-page .form-holder .form {
    padding: 4rem;
}

/*.login-page .form-holder .form .content {*/
    /*max-width: 100%;*/
/*}*/

.login-page .form-holder .form form {
    max-width: 100%;
}

.btn-full-width {
    width: 100%;
    height: 3rem;
}

.h-center {
    text-align: center;
    margin-bottom: 2.5rem;
}

.c-gray {
    color: #606060;
}

nav.side-navbar ul {
    padding: 0;
}

.nav-item form {
    margin-bottom: 0;
}

.__hidden {
    display: none;
}

.news-card {
    padding: 2rem;
}

.items-center {
    align-items: center;
}

.items-center form {
    margin-bottom: 0;
}

.__no-padding {
    padding: 0 !important;
}

td form button {
    padding: 0 !important;
}

.btn-link {
    color: #03A9F4;
}

.horizontal-list div[class*='col-'] {
    padding: 0.5rem 0;
}

.badge-lg {
    padding: 0.8rem 1rem;
    font-size: 100%;
    background-color: #eee;
    color: #888;
}

.project .row div[class*='col-']:last-child {
    padding-right: 3rem;
}

.tools-right {
    position: absolute;
    right: 1%;
    bottom: 10%;
    top: 10%;
    z-index: 100;
}

.tools-right.tools-small {
    right: 3%;
    bottom: 5%;
    top: 5%;
}

.tools-right a,
.tools-right form button {
    color: #B3E5FC;
}

.tools-right.tools-small form button i {
    font-size: 0.65rem;
}

.tools-right a:hover,
.tools-right form button:hover {
    color: #29B6F6;
}

.tools-right a {
    position: absolute;
    bottom: 0;
}

.tools-horizontal a {
    padding: 0.8rem 1rem;
    font-size: 100%;
}