<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <task:annotation-driven/>
    <context:component-scan base-package="com.crm.project"></context:component-scan>
    <mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556926"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/crm-project?useUnicode=true&amp;serverTimezone=UTC&amp;characterEncoding=utf-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="packagesToScan" value="com.crm.project.dao">
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <util:map id="DAYS">
        <entry key="0" value="Monday"/>
        <entry key="1" value="Tuesday"/>
        <entry key="2" value="Wednesday"/>
        <entry key="3" value="Thursday"/>
        <entry key="4" value="Friday"/>
        <entry key="5" value="Saturday"/>
        <entry key="6" value="Sunday"/>
    </util:map>

    <util:map id="HOURS">
        <entry key="0" value="8:00-9:00"/>
        <entry key="1" value="9:00-10:00"/>
        <entry key="2" value="10:00-11:00"/>
        <entry key="3" value="11:00-12:00"/>
        <entry key="4" value="12:00-13:00"/>
        <entry key="5" value="13:00-14:00"/>
        <entry key="6" value="14:00-15:00"/>
        <entry key="7" value="15:00-16:00"/>
        <entry key="8" value="16:00-17:00"/>
        <entry key="9" value="17:00-18:00"/>
        <entry key="10" value="18:00-19:00"/>
        <entry key="11" value="19:00-20:00"/>
        <entry key="12" value="20:00-21:00"/>
        <entry key="13" value="21:00-22:00"/>
        <entry key="14" value="22:00-23:00"/>
    </util:map>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>

    <bean id="roleBean" class="com.crm.project.beans.RoleBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="companyBean" class="com.crm.project.beans.CompanyBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userBean" class="com.crm.project.beans.UserBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="superAdminBean" class="com.crm.project.beans.SuperAdminBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="courseBean" class="com.crm.project.beans.CourseBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="lessonBean" class="com.crm.project.beans.LessonBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="markBean" class="com.crm.project.beans.MarkBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="attendanceBean" class="com.crm.project.beans.AttendanceBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="lessonAttachmentBean" class="com.crm.project.beans.LessonAttachmentBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="newsBean" class="com.crm.project.beans.NewsBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="groupBean" class="com.crm.project.beans.GroupBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="scheduleBean" class="com.crm.project.beans.ScheduleBean">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

</beans>